/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* General font style */
*{
    box-sizing: border-box;
    font-family: 'Noto Sans', 'sans-serif';
}

body {
    margin: 0px;
    padding: 0px;
    background: ivory;
}

.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}

nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    background: #242526;
    color: #f2f2f2;
}

nav .wrapper{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    padding: 15px;
}

.wrapper .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.wrapper .nav-links{
    display: inline-flex;
}

/* Removes the dot before list elements */
.nav-links li{
    list-style: none;
}

/* Style for each link in nav bar */
.nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Background on hover */
.nav-links li a:hover{
    background: #3A3B3C;
}

/* Puts app element under the banner */
#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    h1 {
        margin: 0 0 24px 0;
    }

    button {
        width: 100%;
        margin: 18px 0 9px 0;
    }

    input {
        color: white;
        background: transparent;
    }
}